pandas
scikit-learn
numpy
seaborn
ipykernel
Flask
#this is more stable version
# mlflow==2.2.2
mlflow
dvc
apache-airflow
Django
djangorestframework 
docker
django-cors-headers
django-allauth 

-e . ##this will call setup.py file where DiamondPricePrediction from the setup.py as package in pip